# Lesson 3: Sorting and Limiting Results

**Duration:** 20 minutes  
**Prerequisites:** Complete Lessons 1-2  
**Learning Mode:** Read explanations, then run each SQL query

---

## üéØ Learning Objectives

By the end of this lesson, you will be able to:
- Sort query results with ORDER BY
- Sort in ascending and descending order
- Sort by multiple columns
- Limit the number of results with LIMIT
- Use OFFSET for pagination
- Combine WHERE, ORDER BY, and LIMIT

## üìö Why Sort and Limit?

Databases don't store data in any particular order. When you query a table, rows can appear in any sequence. Sorting and limiting helps you:

- **Organise** data logically (alphabetically, numerically)
- **Find** the top or bottom values (highest, lowest, first, last)
- **Improve performance** by retrieving only what you need
- **Create rankings** and leaderboards
- **Paginate** results (like pages in a search engine)

## üõ†Ô∏è Setup: Connect to Database

**Run the next 3 cells:**

In [1]:
# Load SQL magic extension
%load_ext sql

# Fix prettytable compatibility issue
import prettytable
try:
    # Try to access DEFAULT to see if it exists
    _ = prettytable.DEFAULT
except AttributeError:
    # If it doesn't exist, add it using SINGLE_BORDER
    from prettytable import SINGLE_BORDER
    prettytable.DEFAULT = SINGLE_BORDER

# Configure SQL magic settings
%config SqlMagic.autopandas = False
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

C:\Users\wesley.smith7\AppData\Local\Temp\ipykernel_2144\3162060372.py:8: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  _ = prettytable.DEFAULT

In [2]:
%sql sqlite:///starwars.db

In [3]:
%%sql
-- Quick reference: View all available data
SELECT name, species, homeworld, height FROM characters;

(sqlite3.OperationalError) no such column: height
[SQL: -- Quick reference: View all available data
SELECT name, species, homeworld, height FROM characters;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## üìö Quick Data Reference

**Sample characters (sorted by height):**
- Yoda: 66cm, Yoda's species
- R2-D2: 96cm, Droid
- Princess Leia: 150cm, Human, Alderaan
- Luke Skywalker: 172cm, Human, Tatooine
- Darth Vader: 202cm, Human, Tatooine
- Chewbacca: 228cm, Wookiee, Kashyyyk

**üí° Tip:** Use the cell below to remind yourself of the available data!

## üìù Part 1: Add Height Data

Before we can sort by height, let's add a height column to our characters table.

**Understanding ALTER TABLE and UPDATE:**
- `ALTER TABLE` modifies table structure (adds columns)
- `UPDATE` modifies existing data in rows
- `WHERE` clause ensures we update the correct character

**Run the cells below to add height data:**

In [4]:
%%sql
-- Add height column to characters table
ALTER TABLE characters ADD COLUMN height INTEGER;

[]

In [5]:
%%sql
-- Update characters with height data (in centimetres)
UPDATE characters SET height = 172 WHERE name = 'Luke Skywalker';
UPDATE characters SET height = 150 WHERE name = 'Leia Organa';
UPDATE characters SET height = 180 WHERE name = 'Han Solo';
UPDATE characters SET height = 228 WHERE name = 'Chewbacca';
UPDATE characters SET height = 182 WHERE name = 'Obi-Wan Kenobi';
UPDATE characters SET height = 202 WHERE name = 'Darth Vader';
UPDATE characters SET height = 66 WHERE name = 'Yoda';
UPDATE characters SET height = 96 WHERE name = 'R2-D2';
UPDATE characters SET height = 165 WHERE name = 'Padm√© Amidala';
UPDATE characters SET height = 188 WHERE name = 'Mace Windu';
UPDATE characters SET height = 170 WHERE name = 'Ahsoka Tano';

[]

### Verify Height Data

Let's check that heights were added correctly:

In [9]:
%%sql
SELECT name, height FROM characters;

[('Luke Skywalker', 172),
 ('Leia Organa', 150),
 ('Han Solo', 180),
 ('Chewbacca', 228),
 ('Obi-Wan Kenobi', 182),
 ('Darth Vader', 202),
 ('Yoda', 66),
 ('R2-D2', 96),
 ('Padm√© Amidala', 165),
 ('Mace Windu', 188),
 ('Ahsoka Tano', 170),
 ('Luke Skywalker', 172),
 ('Leia Organa', 150),
 ('Han Solo', 180),
 ('Chewbacca', 228),
 ('Obi-Wan Kenobi', 182),
 ('Darth Vader', 202),
 ('Yoda', 66),
 ('R2-D2', 96),
 ('Luke Skywalker', 172),
 ('Leia Organa', 150),
 ('Han Solo', 180),
 ('Chewbacca', 228),
 ('Obi-Wan Kenobi', 182),
 ('Darth Vader', 202),
 ('Yoda', 66),
 ('R2-D2', 96),
 ('Luke Skywalker', 172),
 ('Leia Organa', 150),
 ('Han Solo', 180),
 ('Chewbacca', 228),
 ('Obi-Wan Kenobi', 182),
 ('Darth Vader', 202),
 ('Yoda', 66),
 ('R2-D2', 96),
 ('Padm√© Amidala', 165),
 ('Mace Windu', 188),
 ('Ahsoka Tano', 170)]

## üìä Part 2: Sorting with ORDER BY

### ORDER BY Syntax

```sql
SELECT columns FROM table_name ORDER BY column_name;
```

By default, ORDER BY sorts in **ascending** order (A-Z, 0-9, smallest to largest).

### Query 1: Sort Alphabetically by Name

**Result:** Characters appear in alphabetical order.

In [15]:
%%sql
-- Query 1: View all characters sorted by name (A-Z)
SELECT * FROM characters LIMIT 11

[(1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170)]

### Query 2: Sort by Species

**Notice:** Groups similar species together.

In [19]:
%%sql
-- Query 2: View characters sorted by species
SELECT * FROM characters ORDER BY species

[(8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Query 3: Sort Numerically by Height

In [21]:
%%sql
-- Query 3: View characters sorted by height (shortest to tallest)
SELECT * FROM characters ORDER BY height

[(7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228)]

## üìä Part 3: Ascending vs Descending

You can control sort direction with `ASC` (ascending) or `DESC` (descending).

### Query 4: Explicitly Sort Ascending (Default)

In [22]:
%%sql
-- Query 4: Explicitly sort ascending (same as Query 3)
SELECT * FROM characters ORDER BY name

[(11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Query 5: Sort Descending (Tallest to Shortest)

**Use Case:** Finding the tallest character!

In [26]:
%%sql
-- Query 5: Sort by height (tallest to shortest)
SELECT * FROM characters ORDER BY height DESC

[(4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Query 6: Sort Names in Reverse Alphabetical Order

In [27]:
%%sql
-- Query 6: Sort names Z-A
SELECT * FROM characters ORDER BY name DESC

[(7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170)]

## üîó Part 4: Sorting by Multiple Columns

You can sort by multiple columns. The first column is the primary sort, the second breaks ties.

### Query 7: Sort by Species, Then Name

**Result:** Characters are grouped by species, and within each species group, they're alphabetically sorted by name.

In [28]:
%%sql
-- Query 7: Sort by species first, then by name within each species
SELECT * FROM characters ORDER BY species, name

[(8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Query 8: Mix Ascending and Descending

**Explanation:** 
- First, groups by species alphabetically
- Within each species group, sorts by height (tallest first)

In [29]:
%%sql
-- Query 8: Sort by species (A-Z), then height (tallest to shortest)
SELECT * FROM characters ORDER BY species, height DESC

[(8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

## üéØ Part 5: Limiting Results with LIMIT

The `LIMIT` clause restricts how many rows are returned.

### Query 9: Get Top 5 Results

**Use Case:** Showing preview data or improving performance.

In [30]:
%%sql
-- Query 9: View only the first 5 characters
SELECT * FROM characters LIMIT 5

[(1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182)]

### Query 10: Find the Tallest Character

**Result:** Should show Chewbacca (228 cm)

In [32]:
%%sql
-- Query 10: Find the tallest character
SELECT * FROM characters ORDER BY height DESC LIMIT 1

[(4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228)]

### Query 11: Find the 3 Shortest Characters

In [35]:
%%sql
-- Query 11: Find the three shortest characters
SELECT * FROM characters ORDER BY height LIMIT 12

[(7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150)]

## üìÑ Part 6: Pagination with OFFSET

`OFFSET` skips a specified number of rows. Combined with LIMIT, it enables pagination.

### Query 12: Skip the First 3 Characters

**Explanation:**
- Skip first 3 rows
- Then return the next 5 rows

In [37]:
%%sql
-- Query 12: Get characters 4-8 (skip first 3)
SELECT * FROM characters LIMIT 4 OFFSET 3

[(4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Query 13-15: Pagination Example

**Use Case:** Displaying results across multiple pages in an application.

In [38]:
%%sql
-- Page 1: First 3 characters
SELECT * FROM characters LIMIT 3

[(1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180)]

In [39]:
%%sql
-- Page 2: Next 3 characters
SELECT * FROM characters LIMIT 3 OFFSET 3

[(4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202)]

In [40]:
%%sql
-- Page 3: Next 3 characters
SELECT * FROM characters LIMIT 3 OFFSET 6

[(7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (8, 'R2-D2', 'Droid', 'Naboo', 96),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165)]

## üîó Part 7: Combining WHERE, ORDER BY, and LIMIT

### Order of Clauses (Important!)

```sql
SELECT columns 
FROM table_name 
WHERE condition 
ORDER BY column 
LIMIT number;
```

**Always:** SELECT ‚Üí FROM ‚Üí WHERE ‚Üí ORDER BY ‚Üí LIMIT

### Query 16: Filter, Sort, and Limit

In [43]:
%%sql
-- Query 16: Find the tallest human
SELECT * FROM characters WHERE species = 'Human' ORDER BY height DESC LIMIT 1

[(6, 'Darth Vader', 'Human', 'Tatooine', 202)]

## üéì Practice Exercises

### Exercise 1: Find the 5 Tallest Characters

In [47]:
%%sql
-- Exercise 1: Find the 5 tallest characters
SELECT * FROM characters ORDER BY height DESC LIMIT 18

[(4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180)]

### Exercise 2: Alphabetical Species List

In [50]:
%%sql
-- Exercise 2: List all unique species in alphabetical order
SELECT * FROM characters ORDER BY species

[(8, 'R2-D2', 'Droid', 'Naboo', 96),
 (19, 'R2-D2', 'Droid', 'Naboo', 96),
 (27, 'R2-D2', 'Droid', 'Naboo', 96),
 (35, 'R2-D2', 'Droid', 'Naboo', 96),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (11, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (38, 'Ahsoka Tano', 'Togruta', 'Shili', 170),
 (4, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (15, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (23, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (31, 'Chewbacca', 'Wookiee', 'Kashyyyk', 228),
 (7, 'Yoda', "Yoda's species", 'Unknown', 66),
 (18, 'Yoda', "Yoda's species", 'Unknown', 66),
 (26, 'Yoda', "Yoda's species", 'Unknown', 66),
 (34, 'Yoda', "Yoda's species", 'Unknown', 66)]

### Exercise 3: Filter and Sort

In [51]:
%%sql
-- Exercise 3: Find all humans sorted by height (shortest first)
SELECT * FROM characters WHERE species = 'Human' ORDER BY height

[(2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (1, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (12, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (20, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (28, 'Luke Skywalker', 'Human', 'Tatooine', 172),
 (3, 'Han Solo', 'Human', 'Corellia', 180),
 (14, 'Han Solo', 'Human', 'Corellia', 180),
 (22, 'Han Solo', 'Human', 'Corellia', 180),
 (30, 'Han Solo', 'Human', 'Corellia', 180),
 (5, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (16, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (24, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (32, 'Obi-Wan Kenobi', 'Human', 'Stewjon', 182),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (37, 'Mace Windu', 'Human', 'Haruun Kal', 188),
 (6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202)]

### Exercise 4: Complex Query with OFFSET

In [55]:
%%sql
-- Exercise 4: Find the second and third tallest characters
SELECT * FROM characters ORDER BY height DESC LIMIT 5 OFFSET 4

[(6, 'Darth Vader', 'Human', 'Tatooine', 202),
 (17, 'Darth Vader', 'Human', 'Tatooine', 202),
 (25, 'Darth Vader', 'Human', 'Tatooine', 202),
 (33, 'Darth Vader', 'Human', 'Tatooine', 202),
 (10, 'Mace Windu', 'Human', 'Haruun Kal', 188)]

## üéØ Challenge Problem

Find characters whose names contain the letter 'a', sorted by height (shortest first), and show only the second and third results.

In [62]:
%%sql
-- Challenge Problem
SELECT * FROM characters WHERE name LIKE '%a%' ORDER BY height LIMIT 6 OFFSET 4

[(2, 'Leia Organa', 'Human', 'Alderaan', 150),
 (13, 'Leia Organa', 'Human', 'Alderaan', 150),
 (21, 'Leia Organa', 'Human', 'Alderaan', 150),
 (29, 'Leia Organa', 'Human', 'Alderaan', 150),
 (9, 'Padm√© Amidala', 'Human', 'Naboo', 165),
 (36, 'Padm√© Amidala', 'Human', 'Naboo', 165)]

## ‚úÖ Checkpoint & Summary

### What You've Learnt

- ‚úÖ Sort results with ORDER BY
- ‚úÖ Use ASC and DESC for sort direction
- ‚úÖ Sort by multiple columns
- ‚úÖ Limit results with LIMIT
- ‚úÖ Use OFFSET for pagination
- ‚úÖ Combine WHERE, ORDER BY, and LIMIT correctly

### Key SQL Commands

| Command | Purpose | Example |
|---------|---------|---------|
| `ORDER BY` | Sort results | `ORDER BY name` |
| `ASC` | Sort ascending (default) | `ORDER BY height ASC` |
| `DESC` | Sort descending | `ORDER BY height DESC` |
| `LIMIT` | Restrict number of results | `LIMIT 5` |
| `OFFSET` | Skip rows | `LIMIT 5 OFFSET 3` |
| `ALTER TABLE` | Modify table structure | `ALTER TABLE characters ADD COLUMN height INTEGER` |
| `UPDATE` | Modify existing data | `UPDATE characters SET height = 172 WHERE name = 'Luke'` |

### SQL Clause Order Reference

```sql
SELECT columns
FROM table
WHERE condition
ORDER BY column
LIMIT number
OFFSET number;
```

## üéâ Great Progress!

You can now organise and control your query results! In the next lesson, you'll learn how to perform calculations on groups of data using aggregate functions.

**Ready to continue?** Open `lesson4_aggregates.ipynb`